# Ignore node_modules directory
node_modules/

# Ignore any log files
*.log

# Ignore .DS_Store files on macOS
.DS_Store

# Ignore any keys or sensitive information
*.pem
*.key

# Ignore zip files (for Chrome Web Store submissions)
*.zip

# Ignore any local configuration files
config.local.js